goatcounter serve -listen localhost:8081 -tls http

[Unit]
Description=GoatCounter
After=network.target
Wants=postgresql.service
StartLimitIntervalSec=0

[Service]
Type=simple
WorkingDirectory=/home/pi
ExecStart=/home/pi/goatcounter serve -listen localhost:3000 -tls http -db 'postgres://pi:dbpassword@localhost:5432/goatcounter?sslmode=verify-full'
User=pi
Restart=on-failure
RestartSec=1
StandardOutput=append:/var/log/goatcounter/server.log
StandardError=append:/var/log/goatcounter/server.log

[Install]
WantedBy=multi-user.target
