[Unit]
Description=Rotoclone Zone Webserver
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
WorkingDirectory=/home/pi/rotoclone-zone/
Environment=ROCKET_SITE_CONTENT_BASE_DIR=/home/pi/git/rotoclone-zone-content
ExecStart=/home/pi/rotoclone-zone/rotoclone-zone
User=pi
Restart=on-failure
RestartSec=1
StandardOutput=append:/var/log/rotoclone-zone/log.log
StandardError=append:/var/log/rotoclone-zone/log.log

[Install]
WantedBy=multi-user.target
